@model string

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <title>Recherche</title>
</head>
<body>
<div>
      Vous recherchez des voitures qui correspondent à : @Model
</div>
</body>
</html>